.venv
.prettierrc
chatbot/frontend/node_modules
chatbot/frontend/src/css/output.css
# Ignore unzipped model files
/models/
/__MACOSX/

# But don't ignore the AI/models directory itself
/AI/models/mistral-7b-instruct.Q4_0.gguf
/AI/models/llama-2-7b.Q4_0.gguf
/venv
/venv/bin/activate
/venv/bin/activate.csh
/venv/bin/activate.fish
/venv/bin/activate.ps1
/venv/bin/activate_this.py
/venv/bin/activate.fish
/venv/bin/activate.ps1
/venv/bin/activate_this.py

/chatbot/backend/AI/models/mistral-7b-instruct.Q4_0.gguf
/chatbot/backend/AI/models/llama-2-7b.Q4_0.gguf
/chatbot/backend/AI/models/*.gguf
/chatbot/backend/AI/models/*.part

/chatbot/backend/AI/cache
/chatbot/backend/AI/logs
# Ignore the large files inside AI/models
/AI/models/*.gguf

# Python artifacts
__pycache__/
*.py[cod]
# Cache file
uf_knowledge.cache
AI/AI/models/mistral-7b-instruct.Q4_0.gguf

# user avatars
chatbot/backend/static/avatars/*
AI/AI/models/llama-2-7b.Q4_0.gguf
AI/AI/models/mistral-7b-instruct.Q4_0.ggufbp3u9tvr.part
AI/models/AI/llama-2-7b.Q4_0.gguf
AI/models/AI/Meta-Llama-3-8B-Instruct-Q4_K_M.gguf
AI/models/AI/mistral-7b-instruct.Q4_0.gguf
