.venv
venv
.prettierrc
chatbot/frontend/node_modules
chatbot/frontend/src/css/output.css
# Ignore unzipped model files
/models/
/__MACOSX/

# But don't ignore the AI/models directory itself
/AI/models/mistral-7b-instruct.Q4_0.gguf
/AI/models/llama-2-7b.Q4_0.gguf

/chatbot/backend/AI/models/mistral-7b-instruct.Q4_0.gguf
/chatbot/backend/AI/models/llama-2-7b.Q4_0.gguf
/chatbot/backend/AI/models/*.gguf
/chatbot/backend/AI/models/*.part
# Ignore the large files inside AI/models
/AI/models/*.gguf

# Python artifacts
__pycache__/
*.py[cod]
# Cache file
uf_knowledge.cache
